#ifndef SECRETS_H
#define SECRETS_H

#include <Arduino.h>

class secrets
{
public:
    String getWiFiSSID();
    String getWiFiPassword();
    String getOctoprintApiKey();
    String getOTAPassword();
};

String secrets::getWiFiSSID()
{
    return "WIFI SSID";
}

String secrets::getWiFiPassword()
{
    return "WIFI PASSWORD";
}

String secrets::getOctoprintApiKey()
{
    return "OCTOPRINT API KEY";
}

String secrets::getOTAPassword()
{
    return "OTA PASSWORD";
}

#endif
